<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Login Page</title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="login.js"></script>
</head>
<body>
<h3>--Welcome to Brandix--</h3>
<hr/>
<form id="loginForm">
<table>
	<tr>
		<td>Username :</td>
		<td><input type="text" name="username" id="username" autofocus="autofocus" placeholder="Username"/></td>
	</tr>
	<tr>
		<td>password :</td>
		<td><input type="password" name="password" id="password" placeholder="Password"/></td>
	</tr>
	<tr>
		<td colspan="2" align="right">
			<button id="login">Log in</button> 
		</td>
	</tr>
</table>
</form>
</body>
</html>